<div class="bet-btn-group">
  <% if @current_membership %>
    <div class="btn-leave-bet">
      <%= link_to "Leave Bet", @current_membership, method: :delete, data: { confirm: "Are you sure (GIVE ODDS AND POTENTIAL MONIES)" } , class: 'btn btn-default btn-sm btn-leave' %>
    </div>
     
  <% else %>
    <div class="bet-btn agree-btn btn">
      <%= link_to "Agree!", memberships_path(bet_id: @bet, user_id: current_user, against: false), method: :post %>
    </div>
    <div class="bet-btn against-btn btn">
       <%= link_to "Against!", memberships_path(bet_id: @bet, user_id: current_user, against: true), method: :post %>
    </div>



  <% end %>




</div>