 <% if @bets %>
    <h3>Current Bets</h3>
      
      <% @bets.each do |bet| %>
          <div class="bet">
            <%= link_to bet.title, bet, class: "bet-title" %>
            <br>
             <ul> 
              <li>Wager: <%= bet.wager %> </li>
              <li>Odds: <%= bet.odds %> </li>
            </ul>
          </div>
      <% end %>
      <br>

<% end %>