<div class="pending-btn-group">

        <!--ACCEPT MEMBER BUTTON -->
        <div class='btn btn-default btn-sm accept-btn'>
          <%= link_to "Accept", membership, method: :put %>
        </div>

        <!--REJECT MEMBER BUTTON -->
        <div class="pending-btn reject-btn">
          <%= link_to "Reject", membership, method: :delete, data: { confirm: "Are you sure (GIVE ODDS AND POTENTIAL MONIES)" } , class: 'btn btn-default btn-sm' %>
        </div>
        
      </div>