<div class='bet-members'>
  
  <div class='active-members'>
    <h2>Agrees</h2>
    <% @agree_members.each do |member| %>
      <li><%= member.email %></li>
    <% end %>
  </div>

  <div class="pending-members">
    <h4>pending</h4>
    
    <% @agree_requesters.each do |requester| %>
      <% membership = requester.memberships.find_by(bet_id: @bet.id) #add index to model %> 

      <%= requester.email %>

      <% render 'accept_reject_btns' %>

      <br>
    <%end%>

  </div>
      





  <h2>Against</h2>
  <% @against_members.each do |member| %>
    <li><%= member.email %></li>
  <% end %>
<div class="pending-members">
  <h4>pending</h4>
  <% @against_requesters.each do |requester| %>
    <li><%= requester.email %></li>
     <% render 'accept_reject_btns' %>
  <% end %>
</div>
