
  <div class="bets">
    <div class="container">
      <% @active_bets.each do |bet| %>
          <div class="bet">
            <%= link_to bet.title, bet %>
            <p>Wager:   <%= bet.wager %> </p>
            <p>Odds:    <%= bet.odds %> </p>
          </div>
      <% end %>
      <br>
      
      <%= link_to 'New Bet', new_bet_path, class: "btn btn-primary" %>

    </div>
  </div>

