<%= link_to 'New Bet', new_bet_path, class: "btn btn-primary new-bet-btn" %>

<!-- dry this up!! -->


   <div class="all-bets">
      <% if @all_bets %>
      <h2>Feed</h2>

      <% @all_bets.each do |bet| %>
          <div class="bet">
            <ul>
              <span class="bet_title"><%= link_to bet.title, bet %></span>
              <br>
              <li>Wager: <%= bet.wager %> </li>
              <li>Odds: <%= bet.odds %> </li>
          </div>
      <% end %>

        <br>
      <% end %>
  </div>
      



