@import "bootstrap-sprockets";
@import "bootstrap";



* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

body {
  background-color: #FAFAFA;;
}

.navbar-default {
  background-color: #7C7EFC;

  .navbar-nav > li > a {
    color: white;
  }

}

@media only screen and (max-width : 767px) {

  .navbar-right {
    clear: both;
  }

  .navbar-nav {
    margin: 7.5px 0px;
}

}
.navbar-brand > a {
  color: #FF7373;
  text-shadow: 1.8px 1.4px 0px white;
  font-size: 2em;
  text-decoration: none;
}

#main_content {
  float: none;
}

.center-block {
  float: none;
}

.new-bet-btn {
  background-color: #625EFF;
  border: none;
  box-shadow: 1.2px 1.2px 3px rgb(140, 140, 140);
}

.btn-group {
  position: relative;
  display: inline;
  vertical-align: middle;
}

.bet {
  
  box-shadow: 0px 2px 2px rgb(184, 184, 184);
  padding:1em;
  margin: 1em 0px;
  background-color: #F1F2F9;

  .bet_title {
    color:#005FB2;
    font-size: 2em;
    margin-left: .1em;
  }
  

  ul {
    list-style: none;
    display: inline;
    margin: 0;

    li {
      display: inline;
      margin: .2em
    }
  }
}

.btn-leave-bet {
  float:right;

  .btn-leave {
    background-color: #F4F4F4;
  }
}

.btn-group-round {
  margin: auto;
  text-align: center
}

.btn-new-round {
  display:inline-block;
  float: none;
  margin: 1em 2em;


  .btn-agree-won {
    background-color: rgb(113, 242, 198);
    box-shadow: 2.2px 4.2px 17px #898989;

  }

  .btn-against-won {
    background-color: rgb(255, 115, 115);
    box-shadow: 2.2px 4.2px 17px #898989;

  }

}

.round-agree-won {
  background: rgba(70, 208, 140, 0.29);
}

.round-against-won {
  background: rgba(170, 108, 140, 0.29);
}

.another-round {}

.another-round-text {
  font-size: 1.4em;
}

.round-time {
  float:right;
}

.bet-btn-group {
  width:100%;
  height: 20px;

  .bet-btn {
    display: inline;
    margin:20px;
    border:none;

    a {
      color: white;
      height: 200px;
    }

    .bet-submit {
      width: 100%;
      height: 60px;
    }
  }
  .agree-btn {
    background-color: rgb(112, 205, 112);;


  } 
  .against-btn {
    background-color: #FF2727;;
  } 
}

.pending-btn-group {

  .pending-btn {
    width: auto;
    display: inline-block;
  }
}

.wager {
  font-size: 3em;
  margin-right: 50px;
}

.odds {
  font-size: 1.3em;
}



  


/*

.header {
  background-color: #88e;
  height: auto;
  width: 100%;
}

.container {
  width: 100%;
}

.logo {
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: 140px;
  width: 220px;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  color: #fff;
  display: block;
  float: left;
  height: 80px;
  line-height: 80px;
  text-align: center;
  width: auto;
  margin: 0 20px;
}

.nav ul li a {
  padding: 0 20px;
  color: #fff;
  display: block;
  height: 100%;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
  width: 100%;
}

.nav ul li a:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
}
*/