@import "bootstrap-sprockets";
@import "bootstrap";



* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

body {
  background-color: #FAFAFA;;
}

.navbar-default {
  background-color: #88e;

  .navbar-nav > li > a {
    color: white;
  }

}

@media only screen and (max-width : 767px) {

  .navbar-right {
    clear: both;
  }

  .navbar-nav {
    margin: 7.5px 0px;
}

}
.navbar-brand > a {
  color:rgb(240, 169, 74);;
}

#main_content {
  float: none;
}

.center-block {
  float: none;
}

.btn-group {
  position: relative;
  display: inline;
  vertical-align: middle;
}

.bet {
  background: rgba(19, 132, 76, 0.29);;
  box-shadow: 0px 2px 2px rgb(184, 184, 184);
  padding:1em;
  margin: 1em 0px;

  .bet_title {
    color:#005FB2;
    font-size: 1.5em;
    margin-left: .1em;
  }
  

  ul {
    list-style: none;
    display: inline;
    margin: 0;

    li {
      display: inline;
      margin: .2em
    }
  }
}

.bet-btn-group {
  width:100%;

  .bet-btn {
    display: inline;
    margin:20px;
    border:none;

    a {
      color: white;
    }

    .bet-submit {
      width: 100%;
      height: 60px;
    }
  }
  .agree-btn {
    background-color: rgb(112, 205, 112);;


  } 
  .against-btn {
    background-color: rgb(237, 71, 71);;
  } 
}

.pending-btn-group {

  .pending-btn {
    width: auto;
    display: inline-block;
  }
}

.wager {
  font-size: 3em;
  margin-right: 50px;
}

.odds {
  font-size: 1.3em;
}



  


/*

.header {
  background-color: #88e;
  height: auto;
  width: 100%;
}

.container {
  width: 100%;
}

.logo {
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: 140px;
  width: 220px;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  color: #fff;
  display: block;
  float: left;
  height: 80px;
  line-height: 80px;
  text-align: center;
  width: auto;
  margin: 0 20px;
}

.nav ul li a {
  padding: 0 20px;
  color: #fff;
  display: block;
  height: 100%;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
  width: 100%;
}

.nav ul li a:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
}
*/