// Place all the styles related to the bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*

.bets, .create {
  margin: 40px 0;
}

.bets a,
.create .actions input {
  background-color: #99a;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  transition: background-color 0.5s;
  text-decoration: none;
  display: inline-block;
}

.bet {
  background-color: #fff;
  font-weight: 300;
  padding: 16px;
  margin-bottom: 10px;
}

p.time {
  color: #0084d7;
  font-size: 12px;
  margin-top: 12px;
}

button {
  background-color: #99a;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  transition: background-color 0.5s;
}

button:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
}

form label {
  display: block;
  width: 100%;
}

form textarea {
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 20px 0 10px;
  min-height: 100px;
  padding: 16px;
  transition: border 0.5s;
  width: calc(100% - 32px);
}

form textarea:focus {
  border: 1px solid #0084d7;
  box-shadow: 0;
  outline: 0;
  transition: border 0.5s;
}

@media screen and (max-width: 480px) {
    .container {
      width: 100%;
      margin: 0 auto;
    }

    .messages, .create {
      padding: 0 20px;
    }
}
